.version[_ngcontent-c0] {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -10;
    color: #6b6b6b;
    font-size: 8pt;
    margin: 2px;
}

.version[_ngcontent-c1] {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -10;
    color: #6b6b6b;
    font-size: 8pt;
    margin: 2px;
}

.folder-input[_ngcontent-c4] {
    padding-bottom: 4px;
    width: 100%;
}

.folder-input[_ngcontent-c4] input[type=text][_ngcontent-c4] {
    width: 365px;
    font-size: 12pt;
    padding: 2px 4px;
}

.folder-input[_ngcontent-c4] input[invalid=true][_ngcontent-c4] {
    background-color: red;
}

.folder-input[_ngcontent-c4] input[type=button][_ngcontent-c4] {
    position: relative;
    bottom: 2px;
}

.folder-input[_ngcontent-c4] div[_ngcontent-c4]:first-child {
    margin-bottom: 2px;
}

div.view[_ngcontent-c5]>span[_ngcontent-c5] {
    display: inline-block;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 2px;
}

div.view[_ngcontent-c5]>span[_ngcontent-c5]+span[_ngcontent-c5] {
    margin-left: 2px;
}

.empty[_ngcontent-c5]:hover {
    cursor: pointer;
    outline: 1px solid;
}

div.edit[_ngcontent-c5]>span[_ngcontent-c5] {
    display: inline-block;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 2px;
}

div.edit[_ngcontent-c5]>span[_ngcontent-c5]+span[_ngcontent-c5] {
    margin-left: 2px;
}

.hidden-item[_ngcontent-c5] {
    display: none;
}

.delete-entry[_ngcontent-c5] {
    cursor: pointer;
}

.delete-entry[_ngcontent-c5]:hover {
    color: orange;
}

.list-button[_ngcontent-c5] {
    cursor: pointer;
}

.list-button[_ngcontent-c5]:hover {
    color: orange;
}

.item-entry[_ngcontent-c5] {
    padding: 1px 2px;
}

.item-entry[_ngcontent-c5]:hover {
    background-color: orange;
    cursor: pointer;
}

.items[_ngcontent-c5] {
    border: solid 1px gray;
    background-color: #3f3f3f;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.item-input[_ngcontent-c5] {
    border: 0;
    background-color: transparent;
    color: white;
    outline: 0;
}

.entry[_ngcontent-c6] {
    overflow-wrap: normal;
}

.entry[_ngcontent-c6]>div[_ngcontent-c6] {
    display: inline-block;
}

.type[_ngcontent-c6] {
    font-size: 8pt;
}

.Info[_ngcontent-c6],
.Debug[_ngcontent-c6],
.Error[_ngcontent-c6],
.File[_ngcontent-c6],
.Folder[_ngcontent-c6] {
    background-color: transparent;
}

.Info[_ngcontent-c6] .type[_ngcontent-c6],
.Debug[_ngcontent-c6] .type[_ngcontent-c6],
.Error[_ngcontent-c6] .type[_ngcontent-c6],
.File[_ngcontent-c6] .type[_ngcontent-c6],
.Folder[_ngcontent-c6] .type[_ngcontent-c6] {
    color: gray;
}