.entry {
    overflow-wrap: normal;
}

.entry>div {
    display: inline-block;
}

.type {
    font-size: 8pt;
}

.Info,
.Debug,
.Error,
.File,
.Folder {
    background-color: transparent;
}

.Info .type,
.Debug .type,
.Error .type,
.File .type,
.Folder .type {
    color: gray;
}