<div class="container">
    <div class="menu">
        <ng-content></ng-content>
    </div>
    <div class="options">
        <folder-input [(directory)]="options.sourceDirectory" (directoryChange)="updateOptions()" label="Source Directory" (checkValid)="checkValid($event)"></folder-input>
        <folder-input [(directory)]="options.outputDirectory" (directoryChange)="updateOptions()" label="Output Directory" (checkValid)="checkValid($event)"></folder-input>

        <div class="monitorExisting">
            <input type="checkbox" id="monitorExistingOnStart" [(ngModel)]="options.monitorExistingOnStart" />
            <label for="monitorExistingOnStart">Monitor existing files on start.</label>
        </div>

        <div class="included">
            <div>Included Patterns:</div>
            <div>
                <span *ngFor="let pattern of options.includedPatterns">{{pattern}}</span>
            </div>
        </div>

        <div class="excluded">
            <div>Excluded Patterns:</div>
            <div>
                <span *ngFor="let pattern of options.excludedPatterns">{{pattern}}</span>
            </div>
        </div>
    </div>
</div>