<div class="window">
    <div *ngIf="!isWatching">
        <options [options]="options" (optionsChange)="saveSettings($event)" (invalidOptions)="setValid(!$event)">
            <input type="button" value="Watch" (click)="isValid && startWatch()" [class.disabled]="!isValid" />
        </options>
    </div>
    <div *ngIf="isWatching">
        <monitor>
            <input type="button" value="Stop" (click)="stopWatch()" />
        </monitor>
    </div>

    <div class="version no-select">
        {{version}}
    </div>
</div>