<div class="container">
    <div class="menu">
        <ng-content></ng-content>
    </div>
    <div class="options">
        <folder-input [directory]="options.sourceDirectory" (validateDirectory)="validateDirectory('source', $event)" label="Source Directory"></folder-input>
        <folder-input [directory]="options.outputDirectory" (validateDirectory)="validateDirectory('output', $event)" label="Output Directory"></folder-input>

        <div class="monitorExisting">
            <input class="w" type="checkbox" id="monitorExistingOnStart" [(ngModel)]="options.monitorExistingOnStart" (ngModelChange)="updateOptions()" />
            <label for="monitorExistingOnStart">Monitor existing files on start.</label>
        </div>

        <div class="included">
            <div>Included Patterns:</div>
            <dropdown-editor [entries]="options.includedPatterns" (updateList)="updateIncludedItems($event)"></dropdown-editor>
        </div>

        <div class="excluded">
            <div>Excluded Patterns:</div>
            <dropdown-editor [entries]="options.excludedPatterns" (updateList)="updateExcludedItems($event)"></dropdown-editor>
        </div>
    </div>
</div>